
.switch_images {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}
.switch_images li {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 6s all;
}
.switch_images img {
    min-height: 100%;
    width: 100%;
}
.js{
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    border: 2px solid rgb(223, 185, 185);
    width: 500px;
    height: 100%;
    color: #000;
    text-align: center;
    font-size: large;
    background-color: #fff;
    border-radius: 20px;
    background-size: cover;
    background:rgba(255, 255, 255, 0.3) ;
} 
a:link{
    color:#000;
    text-decoration: none;
}
a:hover{
    color: rgb(119, 151, 115);
    background: #ffffff;
}
a:active{
    color: aqua;
}
.main {
	height: 100vh;
	width: 100vw;
	/*background-color: rgba(100,255,100,0.5);*/
	z-index: 1;
}
.header {
	padding-top: 15px;
	height: 35px;
	width: 100%;
	box-shadow: 0 1px 2px 1px gray;
}
.header_left {
	min-width: 250px;
	height: 35px;
	margin-left: 30px;
	float: left;
}
.header_left img {
	height: 70%;
}
.header_left span {
	display: inline-block;
	height: 100%;
	min-width: 120px;
	font-weight: 600;
	font-size: 1.2em;
	position: relative;
	top: -5px;
	left: 20px;
	color: white;
	letter-spacing: 2px;
}
.header_right {
	height: 35px;
	float: right;
	margin-top: -16px;
	margin-right: 80px;
}
.header_right li {
	list-style: none;
	float: right;
	display: inline-block;
	padding: 0 15px;
	line-height: 35px;
}
.header a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
	font-weight: 600;
	font-size: 16px;
	text-shadow:0 0 2px black;
}
.header a:hover {
	color: #F96366;
}


